---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mihir Niyogi">

    <h1> Mihir Niyogi's Portfolio Website </h1>
    <p> Coming soon! Stay Tuned. Estimated Completion: Feb/Mar 2026 </p>

</Layout>