---
// src/pages/projects.astro
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects | MN">

    <main class="container">
        <header>
            <p>A collection of things I've built, from school projects to <em>late-night tinkering.</em></p>
        </header>
        <ul class="project-grid">
            <ProjectCard 
                title="Project 1"
                description="A microservices-based platform for real-time collaborative coding."
                tags={["Next.js", "Docker", "Kubernetes", "WebSockets"]}
                link="#"
            />

            <ProjectCard 
                title="Project 2"
                description="A microservices-based platform for real-time collaborative coding."
                tags={["Next.js", "Docker", "Kubernetes", "WebSockets"]}
                link="#"
            />

            <ProjectCard 
                title="Project 3"
                description="A microservices-based platform for real-time collaborative coding."
                tags={["Next.js", "Docker", "Kubernetes", "WebSockets"]}
                link="#"
            />

            <ProjectCard 
                title="Project 4"
                description="A microservices-based platform for real-time collaborative coding."
                tags={["Next.js", "Docker", "Kubernetes", "WebSockets"]}
                link="#"
            />

        </ul>
    </main>
</Layout>

<style>
    .container {
        margin-bottom: 4rem;
    }

    header p {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.2;
        color: var(--text-muted);
        text-align: center;
    }

</style>