---
// src/components/TimelineItem.astro
const { title, company, date, details } = Astro.props;
---
<div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
        <div class="exp-header">
            <h3>{title}</h3>
            <span class="company">{company}</span>
            <span class="date">{date}</span>
        </div>
        <ul class="exp-details">
            {details.map((detail: unknown) => <li>{detail}</li>)}
        </ul>
    </div>
</div>

<style>
    .timeline-item {
        position: relative;
        margin-bottom: 2rem;
    }

    .timeline-marker {
        position: absolute;
        left: -2.32rem;
        top: 0.5rem;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: var(--bg-color);
        border: 2px solid var(--accent);
        z-index: 1;
    }

    .exp-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .exp-header h3 {
        font-size: var(--fs-md);
        font-weight: 600;
        color: var(--text-main);
    }

    .company {
        font-weight: 600;
        color: var(--accent);
    }

    .date {
        font-size: var(--fs-sm);
        color: var(--text-muted);
    }

    .exp-details {
        list-style-type: square;
        padding-left: 1.2rem;
        color: var(--text-muted);
    }

</style>