---
// src/layouts/Layout.astro
const { title } = Astro.props;
import { ClientRouter } from 'astro:transitions';
---
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <ClientRouter />
    </head>

    <body>

        <main><slot /></main>

        <style is:global>
            body {
                font-family: sans-serif; 
                display: flex; 
                flex-direction: column;
                justify-content: center; 
                align-items: center; 
                height: 100vh; 
                background: #f9f9f9; 
                color: #222; 
                text-align: center;
            }

            nav { margin-bottom: 40px; }
            h1 { font-weight: 700; letter-spacing: -1px}
            p { color: #666; font-size: 1.2rem; }
            
        </style>

    </body>
</html>