---
// src/layouts/Layout.astro
const { title } = Astro.props;
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <ClientRouter />
    </head>

    <body>

        <Navigation />

        <main><slot /></main>

        <style is:global>
            body {
                display: flex; 
                flex-direction: column;
                align-items: center; 
                text-align: center;
                border: 1px solid red;
            }

            h1 { font-weight: 700; font-size: var(--fs-xl);   }
            p { color: var(--text-muted); font-size: 1.2rem; }
            
        </style>

    </body>
</html> 